In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/playstore-Dataset/main/googleplaystore.csv')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
df.describe().T

         count      mean       std  min  25%  50%  75%   max
Rating  9367.0  4.193338  0.537431  1.0  4.0  4.3  4.5  19.0

In [5]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

## Observations:
There are few datapoints that are missing from the dataset

In [6]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [7]:
# df['Reviews'] = df['Reviews'].astype(int)

In [8]:
df['Reviews'].str.isnumeric().sum()

10840

In [9]:
df[~df['Reviews'].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [10]:
df_copy = df.copy()

In [11]:
df_copy.drop(df_copy.index[10472], inplace=True)

In [12]:
df_copy['Reviews'] = df_copy['Reviews'].astype(int)

In [13]:
df_copy.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [14]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

In [15]:
df_copy[df_copy.duplicated()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8643,Wunderlist: To-Do List & Tasks,PRODUCTIVITY,4.6,404610,Varies with device,"10,000,000+",Free,0,Everyone,Productivity,"April 6, 2018",Varies with device,Varies with device
8654,"TickTick: To Do List with Reminder, Day Planner",PRODUCTIVITY,4.6,25370,Varies with device,"1,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
8658,ColorNote Notepad Notes,PRODUCTIVITY,4.6,2401017,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"June 27, 2018",Varies with device,Varies with device
10049,Airway Ex - Intubate. Anesthetize. Train.,MEDICAL,4.3,123,86M,"10,000+",Free,0,Everyone,Medical,"June 1, 2018",0.6.88,5.0 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [16]:
df_copy.drop_duplicates(inplace=True)

In [17]:
def print_details():
    print (df_copy.info())
    return df_copy.head(2)

In [18]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10357 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10357 non-null  object
 1   Category        10357 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10357 non-null  int32
 4   Size            10357 non-null  object
 5   Installs        10357 non-null  object
 6   Type            10356 non-null  object
 7   Price           10357 non-null  object
 8   Content Rating  10357 non-null  object
 9   Genres          10357 non-null  object
 10  Last Updated    10357 non-null  object
 11  Current Ver     10349 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [19]:
df_copy['Size'] = df_copy['Size'].str.replace('M', '000')
df_copy['Size'] = df_copy['Size'].str.replace('.', '')
df_copy['Size'] = df_copy['Size'].str.replace('k', '')
df_copy['Size'] = df_copy['Size'].replace('Varies with device', np.nan)

In [20]:
df_copy['Size'].unique()

array(['19000', '14000', '87000', '25000', '28000', '56000', '29000',
       '33000', '31000', '12000', '20000', '21000', '37000', '27000',
       '55000', '17000', '39000', '42000', '70000', '23000', '60000',
       '61000', '46000', '92000', '52000', '11000', '24000', nan, '94000',
       '15000', '10000', '26000', '80000', '79000', '57000', '35000',
       '54000', '201', '36000', '86000', '16000', '34000', '89000',
       '38000', '32000', '18000', '22000', '45000', '98000', '90000',
       '67000', '30000', '71000', '74000', '64000', '82000', '99000',
       '49000', '95000', '50000', '59000', '13000', '73000', '68000',
       '40000', '72000', '91000', '23', '65000', '75000', '51000',
       '41000', '48000', '85000', '83000', '43000', '47000', '78000',
       '88000', '66000', '79', '84000', '118', '44000', '695', '62000',
       '18', '53000', '58000', '96000', '63000', '77000', '69000',
       '93000', '100000', '81000', '97000', '556', '526', '76000', '334',
       '232', '624', '85', '41', '292', '11', '704', '862', '899', '378',
       '266', '375', '975', '980', '696', '544', '525', '920', '779',
       '853', '720', '713', '772', '318', '58', '241', '196', '857', '51',
       '953', '865', '251', '930', '540', '313', '746', '203', '26',
       '314', '239', '371', '220', '730', '756', '91', '293', '17', '74',
       '14', '317', '78', '924', '902', '818', '81', '939', '169', '45',
       '475', '965', '545', '61', '283', '655', '714', '93', '872', '121',
       '322', '976', '172', '238', '549', '206', '954', '444', '717',
       '210', '609', '308', '705', '306', '904', '473', '175', '350',
       '383', '454', '421', '70', '812', '442', '842', '417', '412',
       '459', '478', '335', '782', '721', '430', '429', '192', '200',
       '460', '728', '496', '816', '414', '506', '887', '613', '243',
       '569', '778', '683', '592', '319', '186', '840', '647', '191',
       '373', '437', '598', '716', '585', '982', '222', '219', '55',
       '948', '323', '691', '511', '951', '963', '25', '554', '351', '27',
       '82', '208', '913', '514', '551', '29', '103', '898', '743', '116',
       '153', '209', '353', '499', '173', '597', '809', '122', '411',
       '400', '801', '787', '237', '50', '643', '986', '97', '516', '837',
       '780', '961', '269', '20', '498', '600', '749', '642', '881', '72',
       '656', '601', '221', '228', '108', '940', '176', '33', '663', '34',
       '942', '259', '164', '458', '245', '629', '28', '288', '775',
       '785', '636', '916', '994', '309', '485', '914', '903', '608',
       '500', '54', '562', '847', '957', '688', '811', '270', '48', '329',
       '523', '921', '874', '981', '784', '280', '24', '518', '754',
       '892', '154', '860', '364', '387', '626', '161', '879', '39',
       '970', '170', '141', '160', '144', '143', '190', '376', '193',
       '246', '73', '658', '992', '253', '420', '404', '470', '226',
       '240', '89', '234', '257', '861', '467', '157', '44', '676', '67',
       '552', '885', '1020', '582', '619'], dtype=object)

In [21]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10357 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10357 non-null  object
 1   Category        10357 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10357 non-null  int32
 4   Size            8831 non-null   object
 5   Installs        10357 non-null  object
 6   Type            10356 non-null  object
 7   Price           10357 non-null  object
 8   Content Rating  10357 non-null  object
 9   Genres          10357 non-null  object
 10  Last Updated    10357 non-null  object
 11  Current Ver     10349 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [22]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10357 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10357 non-null  object
 1   Category        10357 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10357 non-null  int32
 4   Size            8831 non-null   object
 5   Installs        10357 non-null  object
 6   Type            10356 non-null  object
 7   Price           10357 non-null  object
 8   Content Rating  10357 non-null  object
 9   Genres          10357 non-null  object
 10  Last Updated    10357 non-null  object
 11  Current Ver     10349 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [24]:
df_copy['Size'] = df_copy['Size'].replace('nan', np.nan)

In [25]:
df_copy['Size'] = df_copy['Size'].fillna(0)

In [26]:
df_copy.isna().sum()

App                  0
Category             0
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [28]:
df_copy['Size'] = df_copy['Size'].astype(int)

In [29]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10357 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10357 non-null  object
 1   Category        10357 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10357 non-null  int32
 4   Size            10357 non-null  int32
 5   Installs        10357 non-null  object
 6   Type            10356 non-null  object
 7   Price           10357 non-null  object
 8   Content Rating  10357 non-null  object
 9   Genres          10357 non-null  object
 10  Last Updated    10357 non-null  object
 11  Current Ver     10349 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(1), int32(2), object(10)
memory usage: 1.3+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [30]:
df_copy['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [31]:
df_copy['Type'].unique()

array(['Free', 'Paid', nan], dtype=object)

In [32]:
df_copy['Current Ver'].unique()

array(['1.0.0', '2.0.0', '1.2.4', ..., '1.0.612928', '0.3.4', '2.0.148.0'],
      dtype=object)

In [33]:
df['Android Ver'].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '4.4W and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', nan, '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1',
       '5.0 - 7.1.1'], dtype=object)

In [35]:
df_copy.isna().sum()

App                  0
Category             0
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [37]:
df_copy[pd.isna(df_copy['Type'])]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9148,Command & Conquer: Rivals,FAMILY,NaN,0,0,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device

In [38]:
df_copy.drop(index=9148, inplace=True)

In [40]:
df_copy['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [41]:
df_copy['Type'] = df_copy['Type'].map({'Free':0,
                    'Paid':1})

In [42]:
df_copy['Type'].unique()

array([0, 1], dtype=int64)

In [43]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Category        10356 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10356 non-null  int32
 4   Size            10356 non-null  int32
 5   Installs        10356 non-null  object
 6   Type            10356 non-null  int64
 7   Price           10356 non-null  object
 8   Content Rating  10356 non-null  object
 9   Genres          10356 non-null  object
 10  Last Updated    10356 non-null  object
 11  Current Ver     10348 non-null  object
 12  Android Ver     10354 non-null  object
dtypes: float64(1), int32(2), int64(1), object(9)
memory usage: 1.0+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,"10,000+",0,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,"500,000+",0,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [44]:
df_copy['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [45]:
df_copy['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+'], dtype=object)

In [47]:
instance = df_copy[['Price', 'Installs']]

rem = ['+', ',', '$']

for r in rem:
    for i in instance:
        df_copy[i] = df_copy[i].str.replace(r, '')

In [52]:
df_copy['Price'] = df_copy['Price'].astype(float)

In [53]:
df_copy['Installs'] = df_copy['Installs'].astype(int)

In [54]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Category        10356 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10356 non-null  int32
 4   Size            10356 non-null  int32
 5   Installs        10356 non-null  int32
 6   Type            10356 non-null  int64
 7   Price           10356 non-null  float64
 8   Content Rating  10356 non-null  object
 9   Genres          10356 non-null  object
 10  Last Updated    10356 non-null  object
 11  Current Ver     10348 non-null  object
 12  Android Ver     10354 non-null  object
dtypes: float64(2), int32(3), int64(1), object(7)
memory usage: 1011.3+ KB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,0,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,0,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [77]:
df_copy['Last Updated'] = pd.to_datetime(df_copy['Last Updated'], format='mixed').astype(str)

In [78]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Category        10356 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10356 non-null  int32
 4   Size            10356 non-null  int32
 5   Installs        10356 non-null  int32
 6   Type            10356 non-null  int64
 7   Price           10356 non-null  float64
 8   Content Rating  10356 non-null  object
 9   Genres          10356 non-null  object
 10  Last Updated    10356 non-null  object
 11  Current Ver     10348 non-null  object
 12  Android Ver     10354 non-null  object
dtypes: float64(2), int32(3), int64(1), object(7)
memory usage: 1.2+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,0,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,0,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up

In [86]:
df_copy['Date'] = df_copy['Last Updated'].str.split('-').str[2].astype(int)
df_copy['Month'] = df_copy['Last Updated'].str.split('-').str[1].astype(int)
df_copy['Year'] = df_copy['Last Updated'].str.split('-').str[0].astype(int)

In [89]:
# df_copy['Date'] = df_copy['Last Updated'].astypeype(int)
# df_copy.head()
df_copy['Sin_month'] = np.sin(2*np.pi * df_copy['Month']/12)
df_copy['cos_month'] = np.cos(2*np.pi * df_copy['Month']/12)

In [90]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Category        10356 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10356 non-null  int32
 4   Size            10356 non-null  int32
 5   Installs        10356 non-null  int32
 6   Type            10356 non-null  int64
 7   Price           10356 non-null  float64
 8   Content Rating  10356 non-null  object
 9   Genres          10356 non-null  object
 10  Last Updated    10356 non-null  object
 11  Current Ver     10348 non-null  object
 12  Android Ver     10354 non-null  object
 13  Date            10356 non-null  int32
 14  Month           10356 non-null  int32
 15  Year            10356 non-null  int32
 16  Sin_month       10356 non-null  float64
 17  cos_month       10356 non-null  float64
dtypes: float64(4), int32(6), int64(1), object(7)
memory usage: 1.5+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Date,Month,Year,Sin_month,cos_month
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,0,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,7,1,2018,0.5,0.866025
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,0,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,15,1,2018,0.5,0.866025

In [96]:
df_copy.drop('Last Updated',axis=1, inplace=True)

In [97]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Category        10356 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10356 non-null  int32
 4   Size            10356 non-null  int32
 5   Installs        10356 non-null  int32
 6   Type            10356 non-null  int64
 7   Price           10356 non-null  float64
 8   Content Rating  10356 non-null  object
 9   Genres          10356 non-null  object
 10  Current Ver     10348 non-null  object
 11  Android Ver     10354 non-null  object
 12  Date            10356 non-null  int32
 13  Month           10356 non-null  int32
 14  Year            10356 non-null  int32
 15  Sin_month       10356 non-null  float64
 16  cos_month       10356 non-null  float64
dtypes: float64(4), int32(6), int64(1), object(6)
memory usage: 1.4+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Date,Month,Year,Sin_month,cos_month
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,0,0.0,Everyone,Art & Design,1.0.0,4.0.3 and up,7,1,2018,0.5,0.866025
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,0,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,15,1,2018,0.5,0.866025

In [98]:
df_copy.drop('Month', axis=1, inplace=True)

In [99]:
print_details()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Category        10356 non-null  object
 2   Rating          8892 non-null   float64
 3   Reviews         10356 non-null  int32
 4   Size            10356 non-null  int32
 5   Installs        10356 non-null  int32
 6   Type            10356 non-null  int64
 7   Price           10356 non-null  float64
 8   Content Rating  10356 non-null  object
 9   Genres          10356 non-null  object
 10  Current Ver     10348 non-null  object
 11  Android Ver     10354 non-null  object
 12  Date            10356 non-null  int32
 13  Year            10356 non-null  int32
 14  Sin_month       10356 non-null  float64
 15  cos_month       10356 non-null  float64
dtypes: float64(4), int32(5), int64(1), object(6)
memory usage: 1.4+ MB
None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Date,Year,Sin_month,cos_month
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,0,0.0,Everyone,Art & Design,1.0.0,4.0.3 and up,7,2018,0.5,0.866025
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,0,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,15,2018,0.5,0.866025

In [100]:
df_copy.to_csv('google_app_dataset.csv')